<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @*header*@
    <nav class="mt-5">
        <center>
            @* <a class="btn btn-success" href="/Home/Index">Home</a> *@

            <a class="btn btn-success" asp-controller="Home" asp-action="Index">home</a>
            <a class="btn btn-secondary" href="/Home/AboutUs">About Us</a>
            <a class="btn btn-info" href="/Home/Privacy">Privacy</a>
            <a class="btn btn-primary" href="/Home/ContactUs">Contact Us</a>

            <a class="btn btn-danger href="/Account/Login">Login</a>
            <a class="btn btn-warning" href="/Account/Register">Register</a>
        </center>
    </nav>
    @*header*@

    @*Body*@
    <div>
        @RenderBody()
    </div>
    @*Body*@

    @*Footer*@
    <footer>
        <center class="fixed-bottom">
            <div>
                CopyRights &copy; @DateTime.Now.Year
            </div>
        </center>
    </footer>
    @*Footer*@
</body>
</html>
